include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/custom_harvest *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/custom_harvest/migration *.ini *.py *.mako
